<!DOCTYPE html>
html(lang="es")
head
    meta(charset="UTF-8")
    title Mi aplicacion web en NodeJS
    //-Compiled and minified CSS asi no se ve el moentario en el codigo fuente de la pagina
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    // Compiled and minified JavaScript asi si se ve el comentario
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
          
body
    block menu
    block contenido
    
    hr
    footer &copy; Alejandro López Ortiz