extends base
block contenido
    h1 Pagina de contacto
    p.
        #{direccion}
    p.
        #[a(href="/", class="waves-effect waves-light btn pink") #[i(class="material-icons right") home] Pagina Principal]