extends base
block contenido
    h1 Registro de usuarios
    form(action="/registro", method="post")
        label(for="usuario") Usuario
        input(type="text", name="usuario", placeholder="Usuario", id="usuario")
        label(for="contrasena") Contraseña
        input(type="password", name="contrasena", placeholder="Contraseña", id="contrasena")
        input(type="submit",value="Registro")