extends base
block contenido
    h1 Pagina de inicio
    a(href="/contacto", class="waves-effect waves-light btn orange") #[i(class="material-icons right") contact_phone] Contacta con nosotros
    
    h2 Usando = 
    - for (var i = 0; i < 10; i++){
        = i
    - }

    h2 Usando p= 
    - for (var i = 0; i < 10; i++){
        p= i
    - }

    h2 Usando &num; 
    - for (var i = 0; i < 10; i++){
        span #{i} 
    - }
    
    p.
        Lorem fistrum tiene musho peligro ese pedazo de está la cosa muy malar la caidita no puedor caballo
        lanco caballo negroorl llevame al sircoo. Me cago en tus muelas jarl quietooor amatomaa ahorarr 
        mamaar está la cosa muy malar a wan te va a hasé pupitaa de la pradera. A peich está la cosa muy 
        malar no te digo trigo por no llamarte Rodrigor hasta luego Lucas diodeno te voy a borrar el 
        cerito se calle ustée. Te voy a borrar el cerito diodeno apetecan condemor condemor jarl de 
        la pradera mamaar a gramenawer apetecan a wan. Ahorarr qué dise usteer diodenoo por la gloria 
        de mi madre qué dise usteer condemor. Papaar papaar a gramenawer te voy a borrar el cerito 
        sexuarl condemor.
    p.
        Está la cosa muy malar la caidita ese pedazo de la caidita papaar papaar no te digo trigo por 
        no llamarte Rodrigor. Va usté muy cargadoo no puedor torpedo pecador condemor jarl benemeritaar 
        a wan diodeno. Te voy a borrar el cerito amatomaa sexuarl por la gloria de mi madre torpedo 
        amatomaa. A wan pecador apetecan diodeno fistro papaar papaar benemeritaar a peich hasta luego 
        Lucas al ataquerl amatomaa. Diodenoo ese pedazo de amatomaa me cago en tus muelas qué dise 
        usteer a peich ese hombree no te digo trigo por no llamarte Rodrigor. Te va a hasé pupitaa 
        quietooor mamaar está la cosa muy malar. Ese pedazo de no puedor a wan mamaar ahorarr me 
        cago en tus muelas ese hombree ese hombree condemor la caidita te va a hasé pupitaa. 
        La caidita ese hombree te va a hasé pupitaa benemeritaar tiene musho peligro no puedor. 